select {
  margin: 0px 0px 10px 0px;
}
#display {
  display: none;
}

body {
  background: url(../img/theater.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /*background-color: #cccccc;*/
}
